.navbar {
  background-color: #117A65;
}

.quem-somos{
  background-color: #D7DBDD;

}

.margin {
 padding-bottom: 50px;
}

.parceiros {
  padding-top: 10px;
  background-color: #58D68D ;
}

.bg-footer {
  background-color: rgba(0, 0, 0, 0.808);
  color: white;
}